baseURL: https://kenshin2438.top/
DefaultContentLanguage: "zh"
languageCode: en-us
title: Kenshin2438
theme: PaperMod

permalinks:
  posts: /archives/:slug.html

enableInlineShortcodes: true
enablePermalinks: true
enableEmoji: true
enableRobotsTXT: true

buildDrafts: true
buildFuture: false
buildExpired: false

minify:
  disableXML: true
  minifyOutput: true

outputs:
  home:
    - HTML
    - RSS
    - JSON # is necessary

paginate: 10

params:
  env: production # to enable google analytics, opengraph, twitter-cards and schema.
  author: Kenshin2438
  description: "Kenshin2438的个人博客，不定期分享一些算法(主要为ACM/ICPC中常见的涉及数学的部分)教程，以及个人的生活琐事。"

  # defaultTheme: light
  # defaultTheme: dark
  defaultTheme: auto # to switch between dark or light according to browser theme
  disableThemeToggle: false

  ShowAllPagesInArchive: true
  ShowCodeCopyButtons: true
  ShowShareButtons: false
  ShowPostNavLinks: true
  ShowReadingTime: false
  ShowFullTextinRSS: true
  ShowBreadCrumbs: true
  ShowLastMod: false
  ShowToc: true
  TocOpen: true

  math: true
  comments: true

  profileMode:
    enabled: true
    title: "Kenshin2438のBlog" # optional default will be site title
    subtitle: "ACM/Mathematics/Notes"
    imageUrl: /images/avatar.webp # optional
    imageTitle: "avatar.webp" # optional
    imageWidth: 120 # custom size
    imageHeight: 120 # custom size
    buttons:
      # - name: Notes
      #   url: "https://spacedot.xyz/"
      - name: Posts
        url: "/posts/"
      - name: Search
        url: "/search/"
      - name: Links
        url: "/links/"
  
  # home-info mode
  # homeInfoParams:
  #   Title: "Hi there \U0001F44B"
  #   Content: Welcome to my blog

  socialIcons: # optional
    - name: github
      url: "https://github.com/Kenshin2438"
    # - name: telegram
    #   url: "https://telegram.org/"
    # - name: qq
    #   url: "https://qq.com/"
    - name: rss
      url: "index.xml"

  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    keys: ["title", "permalink", "summary", "content"]
  
  assets:
    disableHLJS: true # 禁用 highlight.js
    # disableFingerprinting: true
    favicon: "/favicon/favicon.ico"
    favicon16x16: "/favicon/favicon-16x16.png"
    favicon32x32: "/favicon/favicon-32x32.png"
    apple_touch_icon: "/favicon/apple-touch-icon.png"
    # safari_pinned_tab: ""

  twikoo:
    version: 1.6.29

taxonomies:
  category: categories
  tag: tags
  series: series

markup:
  goldmark:
    renderer:
      unsafe: true # HUGO 默认转义 Markdown 文件中的 HTML 代码，如需开启的话
  highlight:
    codeFences: true
    lineNos: true
    guessSyntax: true
    noClasses: false

menu:
  main:
    - identifier: archives
      name: Archive
      url: /archives/
      weight: 10
    # - identifier: categories
    #   name: Categories
    #   url: /categories/
    #   weight: 20
    - identifier: tags
      name: Tags
      url: /tags/
      weight: 30
    - identifier: links
      name: Links
      url: /links/
      weight: 40
    - identifier: search
      name: Search
      url: /search/
      weight: 50
    - identifier: travelling
      name: Travelling
      url: https://travellings.link/
      weight: 60